// color variables
$primary-color: #0c1098;
$secondary-color: #ffe709;
$tertiary-color: #ffffff;
$danger-color: #ff5252;
$danger-color-2: #f14336;
$confirm-color: #77b551;
$money-color: #77b554;

// $input-border-color: #d8d8d8;
// $card-not-active: rgba(213, 74, 182, 0.25);
// $icon-color: #ae0e8a;
// $chat-color: #4a4a4a;
// $compose-color: #ffeff3;
// $map-heading: #6d7e8f;
// $card-color: #9b9b9b;
// $card-btn-color: #313131;
// $card-bg-color: #f5f5f5;
// $dash-heading-color: #42505c;
// $dash-p-color: #7d7d7d;
// $d-input-border-color: #e4e8ea;
// $d-placeholder-color: #79828b;
// $d-header-color: #fa7fdf;
// $d-header-pseudo: rgba($d-header-color, 0.1);
// $table-striper: rgba(#e3eee5, 0.2);
// $table-stripe-odd: rgba(#c4c4c4, 0.1);
// $bg-table-label: rgba(250, 127, 223, 0.2);
// $tf-font-color: #68686b;
// $paid-color: #60cbbe;
// $number-color: #979797;

// font-variables
$heading-weight: bold;
$primary-font: 'Circular std';
$secondary-font: 'Circular Std Book';
$heading-text: 32px;
$normal-text: 16px;
$undernote-text: 14px;
$undernote-text-2: 12px;

// measures
$button-radius: 5px;
$map-modal-radius: 16px;
$card-radius: 4px;
$button-radius-2: 8px;
$full-width: 100%;
$input-border: 1px solid $tertiary-color;
$input-trans: 1px solid $primary-color;
$driver-card-radius: 8px;
$driver-button-radius: 3px;
$border-line: 1px solid #f1f1f1;
